.single-team-member {
    background-color: #f9f9f9;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    padding: 60px 30px;
    overflow: hidden;
}

.single-team-member .image {
    z-index: 1;
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.single-team-member .image img {
    border-radius: 50%;
    transform: scale(1);
    transition: all .9s ease 0s;
    height: 100%;
    width: 100%;
}

.single-team-member:hover .image:before {
    height: 100%;
}

.single-team-member:hover .social-links {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}


.single-team-member .image:before {
    left: 0;
    right: 0;
    height: 0;
    content: "";
    width: 100%;
    opacity: .9;
    bottom: 135%;
    border-radius: 50%;
    position: absolute;
    transform: scale(3);
    transition: all 0.3s ease-in-out;
    background-color: #ed2775;
}

.single-team-member .content {
    margin-top: 25px;
}

.single-team-member .content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.single-team-member .content span {
    display: block;
    color: #ed2775;
}

.single-team-member .social-links {
    left: 0;
    right: 0;
    opacity: 0;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: -35px;
    padding-left: 0;
    margin-bottom: 0;
    position: absolute;
    visibility: hidden;
    list-style-type: none;
    transition: all 0.3s ease-in-out;
    background-color: #ed2775;
}

.single-team-member .social-links li {
    display: inline-block;
    margin-bottom: -7px;
}

.single-team-member .social-links li a {
    display: block;
    width: 40px;
    font-size: 22px;
    height: 40px;
    position: relative;
    background-color: #ed2775;
    color: #ffffff;
    text-decoration: none;
}