.single-features-item {
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    padding: 40px 30px 35px 110px;
    margin-bottom: 25px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.single-features-item:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: -1;
    background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.single-features-item .icon {
    top: 40px;
    left: 30px;
    width: 60px;
    height: 60px;
    font-size: 25px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 15px 35px rgba(38, 42, 55, .12);
    background: linear-gradient(45.24deg, #9f5ff1 5.99%, #ff54b0 91.87%);
}

.single-features-item .icon i {
    left: 0;
    right: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.single-features-item h3,
.single-features-item p {
    transition: all 0.3s ease-in-out;
}

.single-features-item:hover:before {
    opacity: 1;
    visibility: visible;
}

.single-features-item:hover h3,
.single-features-item:hover p {
    color: #ffffff;
}

.single-features-item h3 {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 600;
}

.single-features-item:hover .icon {
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.single-features-item .icon.bg2 {
    background: linear-gradient(44.44deg, #ff4b3f 7.79%, #ffac30 94.18%);
}

.single-features-item .icon.bg3 {
    background: linear-gradient(45deg, #ed2775, #ff7448);
}

.single-features-item .icon.bg4 {
    background: linear-gradient(44.44deg, #3f75ff 7.79%, #4adeff 94.18%);
}

.single-features-item .icon.bg5 {
    background: linear-gradient(43.32deg, #6a55f8 14.73%, #ca48f6 86.35%, #ca48f6 0);
}
.single-features-item .icon.bg6 {
    background: linear-gradient(45deg, #6a55f8, #ee6c74);
}