.video-box {
    max-width: 85%;
    position: relative;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.video-box img,
.video-box:before {
    border-radius: 10px;
}

.video-box:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(34, 36, 50, .52);
    opacity: .6;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.video-box .video-btn {
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%) translateX(-50%);
    background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
    border-radius: 50%;
    color: #ffffff;
    box-shadow: 15px 25px 35px rgba(38, 42, 55, .2);
    cursor: pointer;
}

.video-box .video-btn:before {
    animation: ripple 2s linear infinite;
}

.video-box .video-btn:after,
.video-box .video-btn:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

@keyframes ripple {
    0% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.75);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.video-box .video-btn:after {
    animation: ripple 2s linear 1s infinite;
}

.video-box .video-btn:after,
.video-box .video-btn:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.shape1,
.shape2 {
    z-index: -1;
    position: absolute;
    animation: movebounce 5s linear infinite;
}

.video-box .shape img {
    border-radius: 0;
}

@keyframes movebounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

.shape1 {
    bottom: 50px;
    left: -50px;
}

.shape2 {
    bottom: 18%;
    right: -70px;
}

@media (max-width: 800px) {
    .video-box {
        max-width: 100%;
    }

    .video-box img.vedio-image {
        width: 100%;
    }

    .about-us-content-image {
        width: 100%;
    }
}