.heading-box h3 {
    font-size: 14px;
    font-weight: 500;
    color: #ff7448;
    margin-bottom: 15px;
}

.heading-box h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}

@media(max-width: 450px) {
    .heading-box h1 {
        font-size: 32px;
    }
}